body{
  margin-top:100px;
  font-size:16px;
  background: white;
  font-family: Merriweather;
  text-align: justify;
}

h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 25px;
}
h2,h3,h4,h5,h6{
  font-family:Poppins;
}

.navbar-default{
  border:0;
  background-color:white;
  font-family:Poppins;
  border-bottom: #8e1225 3px solid;
}

.navbar-brand{
  font-size:20px;
  color: black !important;
  font-weight:bold;
}

.container {
  padding: 10px 0 10px 0;
}

.section-pair {
  margin: auto;
  background: #130d08 url(../img/wood_1.png) repeat;;
  color: #A89B91;
}



.section-pair h1 {
  color: white;
}


.section-impair {
  margin: auto;
  background: white;
  color: black;
}

.section-impair a { /*Pour aligner le texte à droite*/
  
}


.container img {
  max-width: 100%;
  border-radius: 5px;
  text-align: center;
}

footer{
  padding:30px;
  color: black;
  border-top: #8e1225 3px solid;
}
